---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { client, getBlog } from "@utils/sanity.ts";

import { useSanityClient } from 'astro-sanity';



export async function getStaticPaths() {
  const posts = await useSanityClient().fetch(`*[_type == "blog"]`);
  console.log(posts);
  
  return posts.map((post) => {
    const getText = (blocks) => {
      return blocks.map(block => block.children.map(child => child.text).join('')).join('');
    };

    return {
      params: {
        slug: post.slug?.current || '',
      },
      props: {
        ...post,
        ContentBody: getText(post.ContentBody),
        Summary: getText(post.Summary),
        FurtherReading: getText(post.FurtherReading),
      },
    };
  });
}

// Usage in a component
const { name, PublicationDate, ContentBody, Summary, FurtherReading } = Astro.props;



const truncateddate = PublicationDate.substring(0,10)


---

<Layout title={name}>
  <Container>
    <div class="mx-auto max-w-3xl mt-14">
      <h1
        class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
        {name}
      </h1>
      <div class="flex gap-2 mt-3 items-center flex-wrap md:flex-nowrap">
        <span class="text-gray-400">
          Sapna Deb
        </span>
        <span class="text-gray-400">•</span>
        <time
          class="text-gray-400"
          datetime={truncateddate}>
          {truncateddate}
        </time>
        <span class="text-gray-400 hidden md:block"></span>
      </div>
    </div>

    <div class="mx-auto prose prose-lg mt-6 max-w-3xl">
      {ContentBody}
    </div>
    <div class="text-gray-400 mx-auto prose prose-lg mt-6 max-w-3xl">
      {FurtherReading}
    </div>
    <div class="text-center mt-8">
      <a
        href="/blog"
        class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >← Back to Blog</a
      >
    </div>
  </Container>
</Layout>