---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

import { getBlogs } from "@utils/sanity.ts";


type Blog = {
  blogname: string;
  slug: string;
  PublicationDate: string;
  imageUrl: string;
  ContentBody: string[];
  Summary?: string[];
  FurtherReading?: string[];
};


const blogs : Blog[]  = await getBlogs();
---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Blogs</Fragment>
      <Fragment slot="desc">
        I am a medical doctor and a creative writer of fiction, non fiction & self help books.
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          blogs.map((blogPostEntry, index) => (
            <li>
              <a href={`/blog/${blogPostEntry.slug}`}>
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                  <Picture
                    src={blogPostEntry.imageUrl}
                    alt={blogPostEntry.imageUrl}
                    sizes="(max-width: 800px) 100vw, 800px"
                    width={800}
                    height={600}
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-md object-cover object-center bg-white"
                  />
                  <div>
                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                      Sapna Deb             
                      </span>
                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {blogPostEntry.blogname}
                    </h2>
                    <div class="flex gap-0 mt-3">
                      <span class="text-gray-400"></span>
                      <time
                        class="text-gray-400"
                        datetime={blogPostEntry.PublicationDate}>
                        {blogPostEntry.PublicationDate.substring(0,10)}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>






